/*
    Este es nuestro CSS
*/

table img {
    width: 100px;
    height: 100px;
}

input[type="text"]:valid, input[type="email"]:valid, input[type="url"]:valid {
    color: green;
    border-color: green;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0, 0.25);
}

input[type="text"]:invalid, input[type="email"]:invalid, input[type="url"]:invalid {
    color: red;
    border-color: red;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0, 0.25);
}